canvas{
    margin-top: 100px;
    height: 600px;
    width: 1200px;
    border-radius: 10px;
    border: solid 1px black;
    position: relative;
    display: inherit;
}

.circle{
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height:50px;
    background-color: green;
    position:absolute;
}

.circle:hover{
    cursor: pointer;
    background-color: red;
}